@import url("pankosmia-Awami_Nastaliq.css");
@import url("pankosmia-Ezra_SIL.css");
@import url("pankosmia-Padauk.css");
@import url("pankosmia-Gentium_Plus.css");
@import url("pankosmia-Noto_Nastaliq_Urdu.css");
@import url("pankosmia-Cardo.css");

.fonts-Pankosmia-CardoPankosmia-EzraSILPankosmia-PadaukPankosmia-AwamiNastaliqPankosmia-NotoNastaliqUrduPankosmia-GentiumPlus {
  font-family: 'Pankosmia-Cardo', 'Pankosmia-Ezra SIL', 'Pankosmia-Padauk', 'Pankosmia-Awami Nastaliq', 'Pankosmia-Noto Nastaliq Urdu', 'Pankosmia-Gentium Plus';
  font-size: 200%;
}
